.none { display: none;}

.main {
  height: 100vh;
  display: flex;
  background-color: #242324;
}

.main__left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
}

.main__right {
  flex: 0.2;
}

.main__videos {
  flex-grow: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.main__controls {
  background-color: #1c1e20;
}

.main__right {
  background-color: #242324;
  border-left: 1px solid #3d3d42;
}

.main__controls {
  color: #d2d2d2;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.main__controls__block {
  display: flex;
}

.main__controls__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  min-width: 80px;
  cursor: pointer;
}

.main__controls__button:hover {
  background-color: #343434;
  border-radius: 5px;
}

.main__controls__button i {
  font-size: 24px;
}

.main__right {
  display: flex;
  flex-direction: column;
}

.main__room {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__room input,
.main__room button {
  width: 100%;
  margin-top: 4px;
}

.main__room input {
  padding: 4px;
}

.main__header {
  padding-top: 10px;
  color: #f5f5f5;
  text-align: center;
  border-top: 1px solid white;
}

.main__chat_window {
  flex-grow: 1;
  overflow-y: auto;
}

.messages {
  color: white;
  list-style: none;
}

.main__message_container {
  padding: 22px 12px;
  display: flex;
}

.main__message_container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #f5f5f5;
}

.invite {
  color: #eb534b;
}

.leave-text {
  color: white;
  font-size: x-large;
  margin: auto;
  width: 50%;
}

.unmute,
.stop {
  color: #cc3b33;
}

#video-pane {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

video {
  width: 100%;
  object-fit: cover;
  padding: 8px;
}

.sharing {
  height: 400px;
  width: 900px;
  object-fit: cover;
}
